<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets" 
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:dp="http://java.sun.com/jsf/composite/components/drawable"
    xmlns:p="http://primefaces.org/ui">
    <h:body>
 
    	<ui:composition template="/pages/main/template/template.xhtml">
 
    		<ui:define name="content">
    		
    			<h:form>
        			<f:event type="preRenderView" listener="#{expressionsCatalogController.init}" />
    			</h:form>	
    			
    			<h2>Expressions Catalog</h2>

				<dp:panel id="expressionsCatalogPanel" width="800" height="500" drawable="false"
					jsonVar="#{expressionsCatalogController.jsonString}" name="Model Expression"
					onNext="#{expressionsCatalogController.nextEM}" onPrevious="#{expressionsCatalogController.previousEM}"/>
				    
				<!-- 
				<h:form id="expressionTreeform">
				 	
				    <p:tree value="#{expressionsCatalogController.expressionTree}" var="node" id="expressionModelTree"  orientation="horizontal">
				        <p:treeNode id="treeNode">
				            <h:outputText value="#{node}" id="labelNode" escape="false"/>
				        </p:treeNode>
				    </p:tree>
		
					<p:draggable for="expressionModelTree" opacity="0.8"/>
								 
				</h:form>
				 -->
				
			</ui:define>			

    	</ui:composition>
 
    </h:body>
 
</html>