<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets" 
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:composite="http://java.sun.com/jsf/composite"
    xmlns:p="http://primefaces.org/ui"
	xmlns:dp="http://java.sun.com/jsf/composite/components/drawable">
	
    <h:body>
 
    	<ui:composition template="/pages/main/template/template.xhtml">
 
    		<ui:define name="content">
    			<dp:panel id="MyDP02" width="500" height="350" drawable="true" name="Input Expression Model" />
    		</ui:define>
 
    	</ui:composition>
 
    </h:body>
 
</html>