<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html   xmlns="http://www.w3.org/1999/xhtml"
		xmlns:h="http://java.sun.com/jsf/html"
	    xmlns:ui="http://java.sun.com/jsf/facelets" 
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:composite="http://java.sun.com/jsf/composite"
		xmlns:dp="http://java.sun.com/jsf/composite/components/drawable"
	    xmlns:p="http://primefaces.org/ui">
    
    <h:body>
 		
    	<ui:composition template="/pages/main/template/template.xhtml">
 
    		<ui:define name="content">
    			<h2>Transcribe and label model expressions</h2>

				<dp:panel id="MyDP02" width="750" height="350" drawable="true" selectable="true" name="Model Expression"
					jsonVar="#{modelExpressionPanelController.jsonString}"  zIndex="2"/>
				
				<h:form id="modelExpressionForm">
					
					<p:panel id="ExpressionModelInformation" header="Model Expression Information" style="width:800px !important;"
								 toggleable="true" toggleOrientation="vertical" collapsed="false">
							
							<p:panelGrid styleClass="noBorder">
							
								<p:row>
									<p:column colspan="3">
									Please, provide information aboult the new expression.
									</p:column>
								</p:row>
								
								<p:row>
									<p:column>
										Expression Name:
									</p:column>
									<p:column colspan="2">
										<h:inputTextarea value="#{modelExpressionPanelController.modelExpression.name}" id="expressionName" rows="1" cols="68"/>
									</p:column>
								</p:row>
								
								<p:row>
									<p:column>
										Expression Label:
									</p:column>
									<p:column colspan="2">
										<h:inputTextarea value="#{modelExpressionPanelController.modelExpression.label}" id="expressionLabel" rows="4" cols="68"/>
									</p:column>
								</p:row>
								
								<p:row>
									<p:column>
										Description:
									</p:column>
									<p:column colspan="2">
										<h:inputTextarea value="#{modelExpressionPanelController.modelExpression.description}" id="expressionDescription" rows="2" cols="68"/>
									</p:column>
								</p:row>
								
								<p:row>
									<p:column colspan="3">
										<p:commandButton id="saveExpressionButton" action="#{modelExpressionPanelController.saveExpression}" value="Save Expression" ajax="false" onclick="setJsonStringForModelExpression();"></p:commandButton>
									</p:column>
								</p:row>
								
							</p:panelGrid>
							
						</p:panel>
						<p:draggable handle=".ui-panel-titlebar" stack=".ui-panel" for="ExpressionModelInformation"/>
						<h:inputHidden value="#{modelExpressionPanelController.jsonStringForSave}" id="jsonStringForModelExpression"></h:inputHidden>
				</h:form>
				
				<h:outputScript>
				    
					function setJsonStringForModelExpression(){
						document.getElementById('modelExpressionForm:jsonStringForModelExpression').value = panelMyDP02.asJSONString(); 
					}
					

					var SELECTING = 2;
					if (panelMyDP02.selectable) {
						window.addEventListener('keypress', function(e) {
							if (e.keyCode == 13) {
								if ( panelMyDP02.currentState == SELECTING)
									panelMyDP02.confirmSelection();
							}
						}, false);
					}
				
				
				</h:outputScript>
				
				
			</ui:define>
    	</ui:composition>
 
    </h:body>
 
</html>