<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	
	<h:head>
 		<title>ExpressMatch: A system to collect mathematical expression samples</title>
		<link rel="stylesheet" type="text/css" href="/expressMath/resources/css/default.css"/>
		<link rel="stylesheet" type="text/css" href="/expressMath/resources/css/buttons.css"/>
		
		<h:outputScript library="javax.faces" name="jsf.js" target="head" />
		<h:outputScript library="js" name="ajaxFix.js" target="head" />
		<h:outputScript library="js" name="general.js" target="head" />
		
		
	</h:head>

    <h:body>
	 
	<p:growl id="messages" autoUpdate="true" showDetail="true" life="10000"/>  
		    	
	<div class="divLogo"/>
		
	<div class="loginDiv">

		<table style="padding-left: 10px;padding-top: 10px;">
			<tr>
				<td colspan="2">
					<h:outputLabel value="Welcome to Express Math" styleClass="welcome-text"/>
				</td>
			</tr>
			<tr>
				<td colspan="3">
					<h:outputLabel value="Sign in or Sign Up to use Express Math" />
				</td>
			</tr>

			<tr>
				<td width="300">
					<form action="expressMath/j_spring_security_check" method="post">
					<table width="100%">
						<tr>
							<td width="35%">
								<h:outputLabel for="j_username" value="Username:" />
							</td>
							<td>
					            <h:inputText id="j_username" style="width: 90%;" required="true"/>
							</td>
						</tr>
						<tr>
							<td>
					            <h:outputLabel for="j_password" value="Password:" />
							</td>
							<td>
					            <h:inputSecret id="j_password" style="width: 90%;" required="true"/>
							</td>
						</tr>
						<tr>
							<td>
							</td>
							<td>
					            <h:commandButton title="Log in" styleClass="loginButton"/>
							</td>
						</tr>
					</table>
					</form>
				</td>
				<td>
					<h:form>
		            	<h:commandButton title="Sign up" styleClass="signupButton" type="button" onclick="showDiv('signupDivId');"/>
		            </h:form>
				</td>
			</tr>
		</table>
	</div>
	
		<div class="signupDiv hidden" id="signupDivId" style="padding: 20px;">
			<h:form>
				<h:outputLabel value="Sign up to Express Math" styleClass="welcome-text"/>
				<br/><br/>
				<h:outputText value="Signing up to express match will provide to you access to online mathemathical expression data, moreover you can contribute to our system transcribing mathematical expression models"/>
				<br/><br/>
				<h:outputText value="Please, give the informations above and register in express match." />
				
					<table style="width:100%;">
						
						<tr>
							<td>		            
								<h:outputLabel for="username" value="Username:" />
			            	</td>
			            	<td>
								<h:outputText styleClass="redBoldText" value="  *  "/>
				            	<h:inputText id="username" style="width: 90%;" value="#{signUpController.signupData.nick}"/>
			            	</td>
						</tr>
						<tr>
							<td>
								<h:panelGroup>
					            	<h:outputLabel for="name" value="Name:" />
					            	<h:outputLabel value="(complete name)" styleClass="small-warn"/>
					            </h:panelGroup>
			            	</td>
			            	<td>
								<h:outputText styleClass="redBoldText" value="  *  "/>
				           		<h:inputText id="name" style="width: 90%;" value="#{signUpController.signupData.name}"/>
			            	</td>
						</tr>
						<tr>
							<td>
								<h:panelGroup>
					            	<h:outputLabel for="email" value="Email:" />
					            </h:panelGroup>
			            	</td>
			            	<td>
								<h:outputText styleClass="redBoldText" value="  *  "/>
				           		<h:inputText id="email" style="width: 90%;" value="#{signUpController.signupData.email}"/>
			            	</td>
						</tr>
						<tr>
							<td>
			            		<h:outputLabel for="pass" value="Password:" />
			            	</td>
							<td>
								<h:outputText styleClass="redBoldText" value="  *  "/>
			            		<h:inputSecret id="pass" style="width: 90%;" value="#{signUpController.signupData.pass}"/>
			            	</td>
						</tr>
						<tr>
							<td>
			            		<h:outputLabel for="repPass" value="Retype password:" />
			            	</td>
							<td>
								<h:outputText styleClass="redBoldText" value="  *  "/>
			            		<h:inputSecret id="repPass" style="width: 90%;" value="#{signUpController.signupData.passRepeat}"/>
			            	</td>
						</tr>
						<tr>
							<td>
								<h:outputLabel for="nationality" value="Nationality:" />
			            	</td>
							<td>
								<h:outputText styleClass="redBoldText" value="  *  "/>
								<h:inputText id="nationality" style="width: 90%;" value="#{signUpController.signupData.nationality}"/>
			            	</td>
						</tr>
						<tr>
							<td>
								<h:outputLabel for="institutionSelectMenu" value="Institution:" />
			            	</td>
							<td>
								<h:outputText styleClass="redBoldText" value="  *  "/>
						   		<h:selectOneMenu value="#{signUpController.newInstitution.id}" id="institutionSelectMenu" style="width: 90%;">
						   			<f:selectItem itemValue="-1" itemLabel="Select ..." />
	   								<f:selectItem itemValue="-2" itemLabel="New institution ..." />
						   			<f:selectItems value="#{signUpController.institutions}" var="inst" itemValue="#{inst.id}" itemLabel="#{inst.acronym} - #{inst.name}"/>
						   			<f:ajax render="newInstitutionPanel" execute="@this"/>
						   		</h:selectOneMenu>
			            	</td>
						</tr>
						<tr>
							<td colspan="2">
					            <h:panelGroup id="newInstitutionPanel">
								<h:panelGroup rendered="#{signUpController.newInstitution.id == -2}" >
								<fieldset style="border-radius: 10px; border: 1px solid;" >
									<legend>New institution</legend>
									<table width="100%">
										<tr>
											<td colspan="2">
												<h:outputText  styleClass="small-warn" value="Please, be sure your institution is not listed above before adding a new one."/>
											</td>
										</tr>
										<tr>
											<td width="35%">
												<h:outputLabel for="inst_acronym" value="Institution acronym:" />
											</td>
											<td>
												<h:outputText styleClass="redBoldText" value="  *  "/>
												<h:inputText id="inst_acronym" value="#{signUpController.newInstitution.acronym}"/>
											</td>
										</tr>
										<tr>
											<td>
												<h:outputLabel for="inst_name" value="Institution name:" />
											</td>
											<td>
												<h:outputText styleClass="redBoldText" value="  *  "/>
												<h:inputText id="inst_name" style="width: 90%;" value="#{signUpController.newInstitution.name}"/>
											</td>
										</tr>
										<tr>
											<td>
												<h:outputLabel for="inst_nationality" value="Institution nationality:" />	
											</td>
											<td>
												<h:outputText styleClass="redBoldText" value="  *  "/>
												<h:inputText id="inst_nationality" style="width: 90%;" value="#{signUpController.newInstitution.nationality}"/>
											</td>
										</tr>
									</table>
								</fieldset>
								</h:panelGroup>
								</h:panelGroup>
			            	</td>
						</tr>
						<tr>
							<td colspan="2">
					            <h:panelGroup>
					            	<center>
						            	<h:commandButton title="Register" value="Register" action="#{signUpController.onRegister}">
						            		<f:ajax execute="@form"/>
						            	</h:commandButton>
						            	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						            	<h:commandButton title="Cancel" value="Cancel" type="button" onclick="hideDiv('signupDivId')" />
					            	</center>
					            </h:panelGroup>
			            	</td>
						</tr>
				</table>

			</h:form>
		</div>
    </h:body>
 
</html>
   