<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:ui="http://java.sun.com/jsf/facelets" 
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      >
    <body>
	    <ui:composition> 
	  		 <p:growl id="messages" autoUpdate="true" showDetail="true" life="10000"/>  
	                 
			<h:outputLink id="expressMatchOptions" style="right:15px !important; position: fixed !important;" title="Options" value="/expressMath/pages/main/options.faces">
			    <h:graphicImage name="images/icon-gear.png" width="50px" height="50px" />
			</h:outputLink>
			<h:outputLink id="symbolClassification" style="right:75px !important; position: fixed !important;" title="Symbol Classification" value="/expressMath/pages/main/symbolClassifier.faces">
			    <h:graphicImage name="images/blackboard.jpeg" width="50px" height="50px" />
			</h:outputLink>
			<h:outputLink id="expressMatchFreeHand" style="right:135px !important; position: fixed !important;" title="Free Hand" value="/expressMath/pages/main/freeHand.faces">
			    <h:graphicImage name="images/free-hand.png" width="50px" height="50px" />
			</h:outputLink>
			<h:outputLink id="expressMatchResults" style="right:195px !important; position: fixed !important;" title="Results" value="/expressMath/pages/main/results.faces">
			    <h:graphicImage name="images/statistics-icon.png" width="50px" height="50px" />
			</h:outputLink>
			<h:outputLink id="expressMatchExpressionsCatalog" style="right:255px !important; position: fixed !important;" title="Expressions Catalog" value="/expressMath/pages/main/expressionsCatalog.faces">
			    <h:graphicImage name="images/math-catalog.png" width="50px" height="50px" />
			</h:outputLink>
			<h:outputLink id="expressMatchEvaluateExpressions" style="right:315px !important; position: fixed !important;" title="Transcribe expressions" value="/expressMath/pages/main/evaluateExpressions.faces">
			    <h:graphicImage name="images/math-rec.png" width="50px" height="50px" />
			</h:outputLink>

	</ui:composition>
    </body>
</html>